.header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    min-height: 117px;
    margin-top: 8px;
    margin-bottom: 25px;
    color: var(--colour-white);
}

@media screen and (min-width: 576px) and (orientation: portrait) {
    .header-container {
      width: 510px;
    }
}

@media screen and (min-width: 768px) {
    .header-container {
        width: 690px;
    }
}

@media screen and (min-width: 992px) {
    .header-container {
        width: 930px;
    }
}

@media screen and (min-width: 1200px) {
    .header-container {
        width: 1110px;
    }
}

.header-logo,
.header-score {
    margin: 15px 0 8px 0;
    flex: 1 2 100px;
    padding-bottom: 5px;
}

.header-logo {
    font-family: 'Courgette';
    font-size: 48px;
    color: var(--colour-white);
}

.header-logo-bird {
    color: var(--colour-bird);
}

.header-score {
    padding-top: 5px;
    align-self: baseline;
    font-family: 'Lato';
    text-align: right;
    font-size: 19px;
    line-height: 48px;
    color: var(--colour-white);
}

.header-parts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex: 0 1 100%;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    letter-spacing: 0.6px;
    border-radius: 5px;
}

.header-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;
    height: 34px;
    background-color: var(--colour-header-part);
}

.header-part:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-part:nth-child(6) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media screen and (min-width: 400px) {
    .header-part {
      flex: 1 1 33.3%;
    }
    
    .header-part:nth-child(1n) {
        border-radius: 0;
    }

    .header-part:nth-child(1) {
        border-top-left-radius: 5px;
    }
    
    .header-part:nth-child(3) {
        border-top-right-radius: 5px;
    }
    
    .header-part:nth-child(4) {
        border-bottom-left-radius: 5px;
    }
    
    .header-part:nth-child(6) {
        border-bottom-right-radius: 5px;
    }
}

@media screen and (min-width: 992px) {
    .header-part {
      flex: 1 1 16.6%;
    }

    .header-part:nth-child(1n) {
        border-radius: 0;
    }

    .header-part:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .header-part:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.active-part {
    background-color: var(--colour-active-part);
}
